* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;

  body.overlay-active {
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #fb5c6c;
    border-radius: 5px;
  }
}

.rotate {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

h1 {
  font-size: 0px;
}

h2 {
  color: #ff4655;
  font-size: 4rem;
  text-transform: uppercase;
}
.primary-button {
  width: 268px;
  background-color: transparent;
  height: 68px;
  border: 1px solid hsla(38, 22%, 90%, 0.5);
  cursor: pointer;
  text-transform: uppercase;
  color: #ece8e1;
}

.primary-button span {
  background-color: #ff4655;
  cursor: pointer;
  text-transform: uppercase;
  color: #ece8e1;
  padding: 20px 80px;
  font-size: 0.875rem;
  &:hover {
    background-color: #0f1923;
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
  }
}

.send-button {
  width: 268px;
  margin: 10px auto;
  background-color: transparent;
  height: 68px;
  border: 1px solid hsla(38, 22%, 90%, 0.5);
  cursor: pointer;
  text-transform: uppercase;
}

.send-button span {
  background-color: #0f1923;
  cursor: pointer;
  text-transform: uppercase;
  color: #ece8e1;
  padding: 20px 80px;
  font-size: 0.875rem;
  &:hover {
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
  }
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  width: 100%;
  position: fixed;
  background-color: #111;
  border-bottom: 2px solid rgba(51, 51, 51, 0.25);
  padding: 20px;
  z-index: 999;
}

header .logo {
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 999;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
  cursor: pointer;
}

.header-menu li {
  text-transform: uppercase;
  font-size: 0.875rem;
}

.header-menu li a {
  color: #fff;
}
.header-menu li a:hover {
  color: #ff4655;
  transition: 0.3s;
}

.hamburger-icon {
  display: none;
}

.overlay {
  display: none;
}

#start {
  background-image: url("/assets/section_image.png");
  height: 75vh;
  background-size: cover;
}

#start div {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 40px;
  p {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
  }
}
#maps {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 80px;
  background-color: #ece8e1;
}

#maps {
  padding-bottom: 20px;
}

#maps h2 {
  position: absolute;
  top: 15px;
  z-index: 99;
}
#maps ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#maps ul li {
  width: calc(33.33% - 20px);
}

#maps ul li img {
  width: 100%;
  height: auto;
  transition: filter 0.3s ease;
  &:hover {
    cursor: pointer;
    filter: brightness(1.2) saturate(1.3) hue-rotate(10deg);
  }
}

#maps ul li p {
  color: #383e3a;
  font-size: 0.755rem;
  margin: 5px 0px;
}

#maps ul li h3 {
  color: #383e3a;
  font-size: 1.5rem;
}

#contact {
  background-color: #ece8e1;
  padding: 80px 0px;
  position: relative;
}

#contact h2 {
  position: absolute;
  top: 15px;
}

#contact form {
  display: flex;
  flex-direction: column;
  background-color: #fb5c6c;
  border-radius: 20px;
  padding: 20px;
}

#contact form .field {
  display: flex;
  flex-direction: column;
}

#contact form .separator {
  display: flex;
  justify-content: center;
  gap: 20px;
}
#contact form .separator .field {
  width: 100%;
}

#contact form label {
  color: #fff;
  margin-bottom: 10px;
}

#contact form input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  padding: 10px;
}

#contact form textarea {
  width: 100%;
  height: 100px;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  padding: 10px;
  resize: none;
  scrollbar-width: none;
}

@media (max-width: 767px) {
  #start {
    background-position: center;
  }
}
@media (max-width: 1023px) {
  body {
    overflow-x: hidden;
  }
  #maps ul {
    flex-direction: column;
    align-items: center;
  }
  #maps ul li {
    width: 100%;
  }

  .header-menu {
    display: none;
  }

  .hamburger-icon {
    display: block;
    font-size: 20px;
    color: #fb5c6c;
    position: absolute;
    z-index: 999;
    top: 38px;
  }
}

.overlay {
  position: fixed;
  background-color: #111;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.overlay.active {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 99;
  position: fixed;
}

.overlay.active ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.overlay.active li a {
  text-transform: uppercase;
  color: #fb5c6c;
}

.overlay.active ul li:last-child {
  background-color: #fb5c6c;
  padding: 10px 40px;
  border-radius: 30px;
  text-align: center;
  a {
    color: #fff;
  }
}
